[user]
	name = {{ .name }}
	email = {{ .git.email }}
	signingKey = {{ .git.signingKey }}
[credential]
	helper = {{ .git.credential.helper }}
[pull]
	rebase = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
	autostash = true
[github]
	user = {{ .github.user }}
[commit]
	gpgSign = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[diff]
    tool = ediff
    guitool = ediff

[difftool "ediff"]
    cmd = ~/git/ediff.sh $LOCAL $REMOTE $MERGED

[merge]
    tool = ediff

[mergetool "ediff"]
    cmd = ~/git/ediff.sh $LOCAL $REMOTE $MERGED $BASE
    trustExitCode = true
